body{
    background-color: #faa7c9;
    width: 500px;
    margin: 0 auto;
}
nav{
    color: white;
    margin: 0 auto;
    text-align: center;
}
nav:hover{
    color: black;
}
.quotes{
    color: white;
    width: 500px;
    text-align: center;
}
.list{
    line-height: 2;
    font-weight: bold;
    font-size: 20px;
}
img{
    max-width: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-size: 2em;
    color: white;
}